#info {
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
	z-index: 100;
   display:block;
   color: white;
}

#c {
   width: 100%;
   height: 100%;
   display: block;
}

#ui {
   position: absolute;
   right: 1em;
   top:   1em;
   background: rgba(64, 64, 64, 0.8);
   padding: .5em;
 }
 #ui .axisgrid {
   display: flex;
   align-items: center;
 }
 #ui .axisgrid:nth-child(odd) {
   background: rgba(72, 72, 72, 0.8);
 }
 #ui .label {
   width: 8em;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 #ui .checkbox {
   display: flex;
   align-items: center;
 }